<?xml version='1.0' encoding='us-ascii'?>
<robot name="extender">  

	<material name="Silver">
		<color rgba="0.753 0.753 0.753 1.0" />
	</material>
	<link name="extender">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender" />
		<axis xyz="0 0 0" />
	</joint>
    
<link name="extender(1)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(1)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(1)" />
		<axis xyz="0 0 0" />
	<parent link="extender" /></joint>
    
<link name="extender(2)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(2)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(2)" />
		<axis xyz="0 0 0" />
	<parent link="extender(1)" /></joint>
    
<link name="extender(3)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(3)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(3)" />
		<axis xyz="0 0 0" />
	<parent link="extender(2)" /></joint>
    
<link name="extender(4)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(4)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(4)" />
		<axis xyz="0 0 0" />
	<parent link="extender(3)" /></joint>
    
<link name="extender(5)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(5)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(5)" />
		<axis xyz="0 0 0" />
	<parent link="extender(4)" /></joint>
    
<link name="extender(6)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(6)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(6)" />
		<axis xyz="0 0 0" />
	<parent link="extender(5)" /></joint>
    
<link name="extender(7)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(7)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(7)" />
		<axis xyz="0 0 0" />
	<parent link="extender(6)" /></joint>
    
<link name="extender(8)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(8)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(8)" />
		<axis xyz="0 0 0" />
	<parent link="extender(7)" /></joint>
    
<link name="extender(9)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(9)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(9)" />
		<axis xyz="0 0 0" />
	<parent link="extender(8)" /></joint>
    
<link name="extender(10)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(10)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(10)" />
		<axis xyz="0 0 0" />
	<parent link="extender(9)" /></joint>
    
<link name="extender(11)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(11)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(11)" />
		<axis xyz="0 0 0" />
	<parent link="extender(10)" /></joint>
    
<link name="extender(12)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(12)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(12)" />
		<axis xyz="0 0 0" />
	<parent link="extender(11)" /></joint>
    
<link name="extender(13)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(13)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(13)" />
		<axis xyz="0 0 0" />
	<parent link="extender(12)" /></joint>
    
<link name="extender(14)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(14)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(14)" />
		<axis xyz="0 0 0" />
	<parent link="extender(13)" /></joint>
    
<link name="extender(15)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(15)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(15)" />
		<axis xyz="0 0 0" />
	<parent link="extender(14)" /></joint>
    
<link name="extender(16)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(16)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(16)" />
		<axis xyz="0 0 0" />
	<parent link="extender(15)" /></joint>
    
<link name="extender(17)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(17)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(17)" />
		<axis xyz="0 0 0" />
	<parent link="extender(16)" /></joint>
    
<link name="extender(18)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(18)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(18)" />
		<axis xyz="0 0 0" />
	<parent link="extender(17)" /></joint>
    
<link name="extender(19)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(19)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(19)" />
		<axis xyz="0 0 0" />
	<parent link="extender(18)" /></joint>
    
<link name="extender(20)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(20)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(20)" />
		<axis xyz="0 0 0" />
	<parent link="extender(19)" /></joint>
    
<link name="extender(21)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(21)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(21)" />
		<axis xyz="0 0 0" />
	<parent link="extender(20)" /></joint>
    
<link name="extender(22)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(22)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(22)" />
		<axis xyz="0 0 0" />
	<parent link="extender(21)" /></joint>
    
<link name="extender(23)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(23)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(23)" />
		<axis xyz="0 0 0" />
	<parent link="extender(22)" /></joint>
    
<link name="extender(24)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(24)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(24)" />
		<axis xyz="0 0 0" />
	<parent link="extender(23)" /></joint>
    
<link name="extender(25)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(25)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(25)" />
		<axis xyz="0 0 0" />
	<parent link="extender(24)" /></joint>
    
<link name="extender(26)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(26)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(26)" />
		<axis xyz="0 0 0" />
	<parent link="extender(25)" /></joint>
    
<link name="extender(27)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(27)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(27)" />
		<axis xyz="0 0 0" />
	<parent link="extender(26)" /></joint>
    
<link name="extender(28)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(28)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(28)" />
		<axis xyz="0 0 0" />
	<parent link="extender(27)" /></joint>
    
<link name="extender(29)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(29)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(29)" />
		<axis xyz="0 0 0" />
	<parent link="extender(28)" /></joint>
    
<link name="extender(30)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(30)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(30)" />
		<axis xyz="0 0 0" />
	<parent link="extender(29)" /></joint>
    
<link name="extender(31)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(31)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(31)" />
		<axis xyz="0 0 0" />
	<parent link="extender(30)" /></joint>
    
<link name="extender(32)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(32)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(32)" />
		<axis xyz="0 0 0" />
	<parent link="extender(31)" /></joint>
    
<link name="extender(33)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(33)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(33)" />
		<axis xyz="0 0 0" />
	<parent link="extender(32)" /></joint>
    
<link name="extender(34)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(34)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(34)" />
		<axis xyz="0 0 0" />
	<parent link="extender(33)" /></joint>
    
<link name="extender(35)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(35)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(35)" />
		<axis xyz="0 0 0" />
	<parent link="extender(34)" /></joint>
    
<link name="extender(36)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(36)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(36)" />
		<axis xyz="0 0 0" />
	<parent link="extender(35)" /></joint>
    
<link name="extender(37)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(37)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(37)" />
		<axis xyz="0 0 0" />
	<parent link="extender(36)" /></joint>
    
<link name="extender(38)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(38)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(38)" />
		<axis xyz="0 0 0" />
	<parent link="extender(37)" /></joint>
    
<link name="extender(39)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(39)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(39)" />
		<axis xyz="0 0 0" />
	<parent link="extender(38)" /></joint>
    
<link name="extender(40)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(40)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(40)" />
		<axis xyz="0 0 0" />
	<parent link="extender(39)" /></joint>
    
<link name="extender(41)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(41)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(41)" />
		<axis xyz="0 0 0" />
	<parent link="extender(40)" /></joint>
    
<link name="extender(42)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(42)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(42)" />
		<axis xyz="0 0 0" />
	<parent link="extender(41)" /></joint>
    
<link name="extender(43)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(43)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(43)" />
		<axis xyz="0 0 0" />
	<parent link="extender(42)" /></joint>
    
<link name="extender(44)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(44)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(44)" />
		<axis xyz="0 0 0" />
	<parent link="extender(43)" /></joint>
    
<link name="extender(45)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(45)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(45)" />
		<axis xyz="0 0 0" />
	<parent link="extender(44)" /></joint>
    
<link name="extender(46)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(46)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(46)" />
		<axis xyz="0 0 0" />
	<parent link="extender(45)" /></joint>
    
<link name="extender(47)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(47)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(47)" />
		<axis xyz="0 0 0" />
	<parent link="extender(46)" /></joint>
    
<link name="extender(48)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(48)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(48)" />
		<axis xyz="0 0 0" />
	<parent link="extender(47)" /></joint>
    
<link name="extender(49)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(49)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(49)" />
		<axis xyz="0 0 0" />
	<parent link="extender(48)" /></joint>
    
</robot>