<?xml version="1.0"?>
<robot name="extender">      
	<material name="Silver">
		<color rgba="0.753 0.753 0.753 1.0" />
	</material>
	<link name="extender">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender" />
		<axis xyz="0 0 0" />
	</joint>
    
<link name="extender(1)">
		<inertial>
			<origin xyz="-1.14523654752216E-09 -2.79672501381831E-08 0.02287884799985" rpy="0 0 0" />
			<mass value="0.00550575237578726" />
			<inertia ixx="1.33005016450342E-06" ixy="-5.64140714960009E-13" ixz="2.57434879418354E-14" iyy="1.33986100736006E-06" iyz="2.43974888826331E-13" izz="1.66618922257867E-07" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
			<material name="Silver" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="./meshes/OnRobot/VGC10/extender.obj" />
			</geometry>
		</collision>
	</link>
	<joint name="fixed_extender(1)" type="fixed">
		<origin xyz="0 0 0.0848" rpy="0 0 0" />
		<child link="extender(1)" />
		<axis xyz="0 0 0" />
	<parent link="extender" /></joint>
</robot>